<div class="wrop">
    <%= form_with model: @category, local: true do |f| %>
            <%= f.label :New_category_name %></br>
            <%= f.text_field :category_name, class:"category-form" %>
            <%= f.submit "Add new category", class: "update" %>
    <% end %>
    <% @categories.each do |category| %>
        <div class="content">
        <table>
        <tbody>
            <td>
                <%= category.category_name %>
            </td>
            <td>
                <%= button_to("view", "/categories/#{category.id}",{class:"show-btn"}) %>
            </td>
            <td>
                <%= button_to("edit","/categories/#{category.id}/edit",{method: "category",class:"edit-btn"}) %>
            </td>
            <td>
                <%= button_to("delete","/categories/#{category.id}/destroy",{method: "category",class:"destroy-btn"}) %>
            </td>
        </tbody>
        </table>
        </div>
    <% end %>